/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(waititsallpfps);
    background-size: cover;
}

.ds4.white.disconnected {
    background: url(waititsallpfps);
    background-size: cover;
}

.ds4.white .trigger {
    background-image: url(CGpfp.png);
    background-size: cover;
}

.ds4.white .bumper {
    background-image: url(CGpfp.png);
    background-size: cover;
}

.ds4.white .touchpad.pressed {
    background-image: url(CGpfp.png);
    background-size: cover;
}

.ds4.white .back, .ds4 .start {
    background-image: url(CGpfp.png);
    background-size: cover;
}

.ds4.white .button {
    background-image: url(CGpfp.png);
    background-size: cover;
}

.ds4.white .stick {
    background-image: url(CGpfp.png);
    background-size: cover;
}

.ds4.white .face {
    background-image: url(CGpfp.png);
    background-size: cover;
}

/*END PS4 White Controller Styling*/
