/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(waititsallpfps.png);
    background-size: cover;
}

.ds4.white.disconnected {
    background: url(waititsallpfps.png);
    background-size: cover;
}

.ds4.white .trigger {
    background-image: url(triggers.png);
    background-size: cover;
}

.ds4.white .bumper {
    background-image: url(bumper.png);
    background-size: cover;
}

.ds4.white .touchpad.pressed {
    background-image: url(touchpad.png);
    background-size: cover;
}

.ds4.white .back, .ds4 .start {
    background-image: url(CGpfp.png);
    background-size: cover;
}

.ds4.white .button {
    background-image: url(face.png);
    background-size: cover;
}

.ds4.white .stick {
    background-image: url(sticks.png);
    background-size: cover;
}

.ds4.white .face {
    background-image: url(dpad.png);
    background-size: cover;
}

/*END PS4 White Controller Styling*/
